/* Comentario de CSS Puro, este es para que se vean*/
//Comentario de linea en SASS - este es solo para SASS

//import siempre primero y respetando cascada

//@import "bootstrap/bootstrap.scss"; // esto hace pesado el CSS, no es recomendable

//Mapas

$media: (
    twitter: #55acee,
    facebook: #3a5795,
    instagram: rgb(155, 0, 72),
);

@each $red, $color in $media {     
    .btn--#{$red}{
        background-color: $color;
    }
}

//Extend
.cardproducto {
    width: 400px;
    height: 460px;
    border-radius: 80px;
    border-color: rgb(102, 102, 102);
    background-color:rgb(194, 194, 194);
}

.cardproductoactivo {
    @extend .cardproducto;
    width: 450px;
    height: 510px;

}

//Mixin
@mixin cardsprd ($width, $height) {
    height: $height;
    width: $width;
}

.producto1 {
    @include cardsprd(400px, 460px)
}
.producto2 {
    @include cardsprd(420px, 480px)
}
.producto3 {
    @include cardsprd(300px, 360px)
}
.producto4 {
    @include cardsprd(200px, 260px)
}
